<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Galerie</title>
        <link rel="stylesheet" href="../asset/styles/style.css" />
    </head>
    <body>
        <header>
            <img src="../asset/img/logo.png" alt="logo" />
            <nav class="pc-nav">
                <ul>
                    <li>
                        <a href="../index.html" title="Vers l'accueil"
                            >Accueil</a
                        >
                    </li>
                    <li>
                        <a href="./galerie.html" title="Vers la galerie"
                            >Galerie</a
                        >
                    </li>
                    <li>
                        <a href="./contact.html" title="Pour nous contacter"
                            >Contact</a
                        >
                    </li>
                </ul>
            </nav>
            <nav class="other-nav">
                <select name="menu" onchange="location = this.value;" autofocus>
                    <option value="./galerie.html">Galerie</option>
                    <option value="../index.html">Accueil</option>
                    <option value="./contact.html">Contact</option>
                </select>
            </nav>
        </header>

        <main class="container-galerie">
            <div class="image-galerie">
                <a href="../asset/img/Nietzsche.jpg" target="_blank">
                    <img
                        src="../asset/img/Nietzsche.jpg"
                        alt="image 1"
                        title="Nietzsche"
                    />
                </a>
                <a href="../asset/img/Nietzsche1861.jpg" target="_blank">
                    <img
                        src="../asset/img/Nietzsche1861.jpg"
                        alt="image 2"
                        title="Nietzsche1861"
                    />
                </a>
                <a href="../asset/img/Blaise_Pascal.JPG" target="_blank">
                    <img
                        src="../asset/img/Blaise_Pascal.JPG"
                        alt="image 3"
                        title="Blaise"
                    />
                </a>
                <a href="../asset/img/Friedrich_Engels.jpg" target="_blank">
                    <img
                        src="../asset/img/Friedrich_Engels.jpg"
                        alt="image 4"
                        title="Engels"
                    />
                </a>
                <a
                    href="../asset/img/Friedrich_Engels-1840.jpg"
                    target="_blank"
                >
                    <img
                        src="../asset/img/Friedrich_Engels-1840.jpg"
                        alt="image 5"
                        title="Friedrich_Engels-1840"
                    />
                </a>
                <a
                    href="../asset/img/Jean-Paul_Sartre_in_Beijing_1955.jpg"
                    target="_blank"
                >
                    <img
                        src="../asset/img/Jean-Paul_Sartre_in_Beijing_1955.jpg"
                        alt="image 6"
                        title="Jean-Paul_Sartre_in_Beijing_1955"
                    />
                </a>
                <a href="../asset/img/Kant.jpg" target="_blank">
                    <img
                        src="../asset/img/Kant.jpg"
                        alt="image 7"
                        title="Kant"
                    />
                </a>
                <a href="../asset/img/Karl_Marx.jpg" target="_blank">
                    <img
                        src="../asset/img/Karl_Marx.jpg"
                        alt="image 8"
                        title="Marx"
                    />
                </a>
                <a href="../asset/img/Sartre.jpg" target="_blank">
                    <img
                        src="../asset/img/Sartre.jpg"
                        alt="image 9"
                        title="Sartre"
                    />
                </a>
                <a href="../asset/img/Spinoza.jpg" target="_blank">
                    <img
                        src="../asset/img/Spinoza.jpg"
                        alt="image 10"
                        title="Spinoza"
                    />
                </a>
            </div>
        </main>

        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="./mention.html" title="mentions légales"
                            >Mentions légales</a
                        >
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
