<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mention legal</title>
        <link rel="stylesheet" href="../asset/styles/style.css" />
    </head>
    <body>
        <header>
            <img src="../asset/img/logo.png" alt="logo" />
            <nav class="pc-nav">
                <ul>
                    <li>
                        <a href="../index.html" title="Vers l'accueil"
                            >Accueil</a
                        >
                    </li>
                    <li>
                        <a href="./galerie.html" title="Vers la galerie"
                            >Galerie</a
                        >
                    </li>
                    <li>
                        <a href="./contact.html" title="Pour nous contacter"
                            >Contact</a
                        >
                    </li>
                </ul>
            </nav>
            <nav class="other-nav">
                <select name="menu" onchange="location = this.value;" autofocus>
                    <option value="./contact.html">Contact</option>
                    <option value="../index.html">Accueil</option>
                    <option value="./galerie.html">Galerie</option>
                </select>
            </nav>
        </header>

        <main class="container-ml">
            <article>
                <details open>
                    <summary>
                        Cillum aliqua est dolore in esse incididunt cillum.
                    </summary>
                    <ol>
                        <li>
                            Aliquip do Lorem sit ea dolor enim magna occaecat.
                        </li>
                        <li>
                            Exercitation duis cupidatat proident ad
                            reprehenderit laboris esse elit proident.
                        </li>
                        <li>
                            Laborum est aute nostrud deserunt fugiat quis
                            deserunt eu pariatur.
                        </li>
                    </ol>
                </details>
            </article>
            <article>
                <details open>
                    <summary>
                        Voluptate irure dolore eu quis elit tempor ipsum aute
                        laboris laboris Lorem anim cillum eu.
                    </summary>
                    <ol>
                        <li>
                            Veniam cillum qui cupidatat nulla ipsum mollit.
                            Labore officia nostrud ad id sunt. Eu deserunt
                            laboris consectetur laborum culpa incididunt esse
                            esse Cillum anim pariatur duis est est nisi quis
                            ullamco reprehenderit ullamco adipisicing ullamco
                            cupidatat. Aute aliqua Lorem dolor do labore
                            exercitation aliquip pariatur consectetur minim id
                            consequat amet.
                        </li>
                        <li>
                            Minim nostrud exercitation laboris proident eu
                            adipisicing quis culpa elit adipisicing cillum aute.
                        </li>
                        <li>Minim laboris officia ut aute quis sunt.</li>
                        <li>
                            Nulla labore irure enim reprehenderit est commodo
                            voluptate pariatur laborum duis quis aliquip Lorem
                            adipisicing.
                        </li>
                    </ol>
                </details>
            </article>
            <article>
                <details open>
                    <summary>
                        Laborum excepteur consectetur sunt ut dolor incididunt
                        et duis ipsum occaecat nulla do.
                    </summary>
                    <ol>
                        <li>
                            Fugiat amet ipsum amet pariatur anim sint nulla
                            eiusmod laboris veniam cupidatat commodo cupidatat
                            adipisicing.
                        </li>
                        <li>
                            Ut sunt elit duis velit laboris mollit magna culpa
                            irure ex tempor.
                        </li>
                        <li>
                            Reprehenderit aute velit deserunt dolore consequat
                            eiusmod veniam eu sint pariatur.
                        </li>
                        <li>Sit aute consectetur ut consequat in.</li>
                        <li>
                            <details>
                                <summary>
                                    Laborum excepteur consectetur sunt ut dolor
                                    incididunt et duis ipsum occaecat nulla do.
                                </summary>
                                <ol>
                                    <li>
                                        Fugiat amet ipsum amet pariatur anim
                                        sint nulla eiusmod laboris veniam
                                        cupidatat commodo cupidatat adipisicing.
                                    </li>
                                    <li>
                                        Ut sunt elit duis velit laboris mollit
                                        magna culpa irure ex tempor.
                                    </li>
                                    <li>
                                        Reprehenderit aute velit deserunt dolore
                                        consequat eiusmod veniam eu sint
                                        pariatur.
                                    </li>
                                </ol>
                            </details>
                        </li>
                    </ol>
                </details>
            </article>
            <article>
                <details open>
                    <summary>
                        Voluptate irure dolore eu quis elit tempor ipsum aute
                        laboris laboris Lorem anim cillum eu.
                    </summary>
                    <ol>
                        <li>
                            Veniam cillum qui cupidatat nulla ipsum mollit.
                            Labore officia nostrud ad id sunt. Eu deserunt
                            laboris consectetur laborum culpa incididunt esse
                            esse. Cillum anim pariatur duis est est nisi quis
                            ullamco reprehenderit ullamco adipisicing ullamco
                            cupidatat. Aute aliqua Lorem dolor do labore
                            exercitation aliquip pariatur consectetur minim id
                            consequat amet.
                        </li>
                        <li>
                            Minim nostrud exercitation laboris proident eu
                            adipisicing quis culpa elit adipisicing cillum aute.
                        </li>
                        <li>Minim laboris officia ut aute quis sunt.</li>
                        <li>
                            Nulla labore irure enim reprehenderit est commodo
                            voluptate pariatur laborum duis quis aliquip Lorem
                            adipisicing.
                        </li>
                    </ol>
                </details>
            </article>
        </main>

        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="./mention.html" title="mentions légales"
                            >Mentions légales</a
                        >
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
